<button>
    <img src="/images/menu.png" alt="menu icon">
</button>
<h1> <%= title %></h1>

<nav>
    <h3>Menu</h3>
    <ul>     
        <li><a href="/signin">Sign in</a></li>
        <li><a href="/">Saved matches</a></li>
    </ul>
    <button>X</button>
</nav>