<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/public/css/style.css">
    <title>Matching app feature</title>
</head>
<body>
 <h1> hello there!</h1>
 <p> welcome this site, <%= name %>!</p>
 <p> You are <%= age %> years old.</p>
</body>
</html>