<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Matching app feature</title>
</head>
<body>
    <header>
        <button>
            <img src="images/menu.png" alt="menu icon">
            <p>Menu</p> 
        </button>
        <h1> Find your match!</h1>
    </header>
    <main>
        <div>
            <img src="" alt="">
            <h2> name</h2>
            <p> Age: </p>
            <ul>
                <li>genre1</li>
                <li>genre2</li>
                <li>genre3</li>
            </ul>
            <a>
                <p>Song title</p>
                <p>Artist</p>
                <img src="" alt="">
            </a>

            <button>
                <img src="images/removematch.png" alt="cross icon">
            </button>
            <button>
                <img src="images/savematch.png" alt="check mark icon">
            </button>
        </div>
    </main>
 
 
 <div>
    <%- include('partials/footer') %>
 </div>
</body>
</html>