<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Matching app feature</title>
</head>
<body>
    <header>
        <button>
            <img src="images/menu.png" alt="menu icon">
            <p>Menu</p> 
        </button>
        <h1> Saved matches</h1>
    </header>
    <main>
        <ul>
            <li>
                <a>
                    <img src="" alt="Profilepicture">
                    <div>
                        <h2>Name</h2>
                        <p>Age</p>
                        <ul>
                            <li>Genre 1</li>
                            <li>Genre 2</li>
                            <li>Genre 3</li>
                        </ul>
                    </div>
                    <button>
                        <p>remove</p>
                    </button>
                </a>
            </li>
        </ul>
    </main>
    <div>
    <%- include('partials/footer') %>
    </div>
</body>
</html>