<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Matching app feature</title>
</head>
<body>
    <header>
        <button>
            <img src="images/menu.png" alt="menu icon">
            <p>Menu</p> 
        </button>
        <h1> Saved matches</h1>
    </header>
    <main>
        <ul>
            
            <li>
                <a>
                   
                    <div>
                        <h2><%= data.name %> </h2>
                        <p>Age: <%= data.age %></p>
                        
                    </div>
                    <button>
                        <p>Remove</p>
                    </button>
                </a>
            </li>
           
        </ul>
        <p>This is the end of the list!</p>
    </main>
    <div>
    <%- include('partials/footer') %>
    </div>
</body>
</html>