*, *::after, *::before {
    box-sizing:border-box;
    padding: 0; margin: 0;
    font-family: Helvetica;
}

/* ------------ header -------- */
header{
    padding: 1em 0;
    position: relative;
    box-shadow: 0px 0px 5px lightgrey;
}

header > h1{
    width: 100%;
    text-align: center;
    color: #484692;
    font-size: 1.5em; 
 }

header button{
    position: absolute;
    top: 1em;
    left: 1em;

    width: 3em;
    border: none;
    background-color: white;
}

header button img{
    width: 100%;
}

/* ----------------- main ----------------*/
label, input, button{
    display: block;
}

main form {
    padding: 1em 1.5em;
}

main form h3, main form h4{
    margin-top: 1em;
}

main form h4:first-of-type{
    margin-top: 0.5em;
}

main form label{
    margin-top: 0.75em;
}

main form input{
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px lightgrey;

    width: 80%;

    margin-top: 0.25em;
    padding: 1em;
}

main form input:focus{
    box-shadow: 0px 0px 3px #aaa9de;
    outline: none;
}

main form button{
    margin: 1.5em  auto 0 auto;
    padding: 0.5em;
    width: 70%;
    text-align: center;
    font-size: 1.25em;

    color: white;
    background-image: linear-gradient(to bottom right, #908ede, #484692); 
    border-radius: 1em;
    border: none;
}





