*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}

/* ------------ header -------- */
header {
  padding: 1em 0;
  position: relative;
  box-shadow: 0px 0px 5px lightgrey;
}

header > h1 {
  width: 100%;
  text-align: center;
  color: #484692;
  font-size: 1.5em;
}

header button {
  position: absolute;
  top: 1em;
  left: 1em;

  width: 3em;
  border: none;
  background-color: white;
}

header button img {
  width: 100%;
}

/* menu */
header nav {
  margin: 0;
  padding: 0;
  background-color: white;
  box-shadow: 0px 0px 6px lightgrey;

  position: fixed;
  top: 0;
  left: 0;
  width: 65%;
  height: 100%;

  transform: translateX(-120%);
  transition: 0.5s;
  z-index: 1;
}

header nav.toonSection {
  transform: translateX(0);
}

header nav h3 {
  padding: 2em 1em 0 1em;
}

header nav ul {
  padding: 1em;
  padding-top: 0;
  list-style-type: none;
}

header nav ul li {
  border-bottom: 1px solid lightgrey;
  padding: 1em 0;
}

header nav > button {
  width: 15%;
  height: 1.5em;
  font-size: 2em;
  font-weight: 600;

  border: none;
  background-color: #484692;
  color: white;

  z-index: 1;

  position: absolute;
  left: 100%;
  top: 0;
}

/* ----------------- main ----------------*/
label,
input,
button {
  display: block;
}

main form {
  padding: 1em 1.5em;
}

main form h3,
main form h4 {
  margin-top: 1em;
}

main form h4:first-of-type {
  margin-top: 0.5em;
}

main form label {
  margin-top: 0.75em;
}

main form input {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 4px lightgrey;

  width: 80%;

  margin-top: 0.25em;
  padding: 1em;
}

main form input:focus {
  box-shadow: 0px 0px 3px #aaa9de;
  outline: none;
}

main form button {
  margin: 1.5em auto 0 auto;
  padding: 0.5em;
  width: 70%;
  text-align: center;
  font-size: 1.25em;

  color: white;
  background-image: linear-gradient(to bottom right, #908ede, #484692);
  border-radius: 1em;
  border: none;
}
